#ap{
    -fx-background-image: url("/Diary/background/modbg.jpeg");
    -fx-background-repeat: inherit;
    -fx-background-position: center;
    -fx-background-size: stretch;
    -fx-border-width: 200%;
}
.text-field,.button{
    -fx-background-color: rgba(255, 255, 255, 0.5);;

}
#htmleditor{
    -fx-background-color: rgba(255, 255, 255, 0.6);
}
#slider{
    -fx-background-color: transparent;
}
#pbar{
    -fx-background-color: transparent;
}
#datePicker{
    -fx-background-color: rgba(255, 255, 255, 0.3);
}
#taskbar{
    -fx-background-color: rgba(255, 255, 255, 0.8);
}
.root { -fx-background-color: cornsilk; -fx-padding: 15; }
#pbar {
    -fx-text-box-border: forestgreen;
    -fx-control-inner-background: #bdc7ff;
    -fx-shadow-highlight-color: transparent;
}
.green-bar  { -fx-accent: green; -fx-text-box-border: forestgreen;
    -fx-control-inner-background: palegreen;-fx-shadow-highlight-color: transparent;
}
.yellow-bar { -fx-accent: yellow;-fx-text-box-border: forestgreen;
    -fx-control-inner-background: palegreen;-fx-shadow-highlight-color: transparent;
}
.orange-bar { -fx-accent: orange;-fx-text-box-border: forestgreen;
    -fx-control-inner-background: palegreen;-fx-shadow-highlight-color: transparent;
}
.red-bar    { -fx-accent: red; -fx-text-box-border: forestgreen;
    -fx-control-inner-background: palegreen;-fx-shadow-highlight-color: transparent;
}
.button:hover{
    -fx-background-color: rgba(0, 182, 255, 0.9);
}
.button:pressed{
    -fx-background-color: white;
}