.root{
    -fx-background-image: url("/Diary/background/opbg.jpeg");
    -fx-background-repeat: inherit;
    -fx-background-position: center;
    -fx-background-size: stretch;
}
.button{
    -fx-background-color: rgba(0, 14, 68, 0.57);
}
.button:hover{
    -fx-background-color: rgba(1, 25, 112, 0.9);
}
.button:pressed{
    -fx-background-color: rgba(0, 14, 68, 0.9);
}