.root{
    -fx-background-image: url("/Diary/background/opbg.jpeg");
    -fx-background-repeat: inherit;
    -fx-background-position: center;
    -fx-background-size: stretch;
}
.button{
    -fx-background-color: rgba(255, 219, 182, 0.57);
}
.button:hover{
    -fx-background-color: rgba(255, 171, 25, 0.9);
}
.button:pressed{
    -fx-background-color: white;
}