.root{
    -fx-background-image: url("opbg.jpeg");
    -fx-background-repeat: inherit;
    -fx-background-position: center;
    -fx-background-size: stretch;
}
.button{
    -fx-background-color: rgba(255, 219, 182, 0.57);
}